[Desktop Entry]
Name=Bambu GCode viewer
Exec=elegoo-slicer --gcodeviewer %F
Icon=ElegooSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
